/* Tohle schovává mobilní button a asi to musí být nahoře*/
.filter-button {
  display: none;
}

/* Co zobrazit na mobilu*/
@media (max-width: 760px) {
  #sidebar {
      display: none;
  }

  .filter-button {
    display: block;
    width: 100%;
    height: 56px;
}
}

/* Button */
.button {
  background-color: #cacaca; /* Light grey background, adjust as needed */
  color: #333; /* Dark text for contrast */
  padding: 10px 20px; /* Adequate padding for touch targets */
  border: none; /* No border, or adjust as per your card style */
  border-radius: 5px; /* Rounded corners, match with your card's border-radius */
  font-size: 1em; /* Match your card's font size */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bold;
}

.button:hover {
    background-color: #adadad; /* Slightly darker on hover, adjust as needed */
}


/* Body */
      body {
        display: flex;
        height: 100vh;
        margin: 0;
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
        overflow: hidden; /* Zabrání scrollování celého těla */
      }

/* Sidebar */
      #sidebar {
        flex: 0 0 280px; /* Flexbox nastavení */
        height: 100vh;
        overflow-y: auto; /* Povolení scrollování */
        padding: 20px;
        box-sizing: border-box; /* Zajistí, aby padding neovlivnil šířku */
      }

      #sidebar div {
        margin-bottom: 12px; /* Zvětšení mezery mezi checkboxy */
      }

      #sidebar input[type="checkbox"] {
        width: 16px; /* Zvětšení šířky checkboxu */
        height: 16px; /* Zvětšení výšky checkboxu */
        cursor: pointer; /* Zlepšení uživatelského prožitku při najetí myší */
      }

      #sidebar label {
        vertical-align: middle; /* Zarovnání textu na střed výšky checkboxu */
        padding-bottom: 2px;
        cursor: pointer;
      }

/*Generated Checkboxes*/
#generated-filters input[type="checkbox"] {
  width: 16px; /* Zvětšení šířky checkboxu */
  height: 16px; /* Zvětšení výšky checkboxu */
  margin: 4px;
  cursor: pointer; /* Zlepšení uživatelského prožitku při najetí myší */
}

#generated-filters label {
  cursor: pointer;
  margin-left: 4px;
}

#generated-filters input[type="checkbox"]:checked {
  font-weight: bold;
}



/* Card Container */
      #card-container {
        flex: 1; /* Zabere zbývající prostor */
        overflow-y: auto; /* Povolení scrollování */
        padding: 10px;
        padding-left: 5%;
      }

/* Card */
      .card {
        max-width: 720px; /* Upraveno pro šířku kontejneru */
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 8px;
        text-align: left;
        margin: 10px 0;
        cursor: pointer;
      }

      .card h1 {
        margin: 0;
        font-size: 24px;
        color: #333;
      }

      .card p {
        font-size: 16px;
        color: #666;
      }

      .card .label {
        display: inline-block;
        margin: 10px 5px;
        padding: 5px 10px;
        background-color: #eee;
        border-radius: 4px;
        font-size: 14px;
        color: #333;
      }

/* Counter */
      #counter {
        padding: 10px;
        padding-left: 5%; /* Zarovnání s kartičkami */
        font-size: 16px;
        color: #666;
      }

/* Modal */
      .modal {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: calc(100% - 64px);
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    
    .modal-content {
        padding: 20px;
        /* Additional styling */
    }
    
    .close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    
    /* Style for the semi-transparent overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
    }
