
      body {
        display: flex;
        height: 100vh;
        margin: 0;
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
        overflow: hidden; /* Zabrání scrollování celého těla */
      }

      /* Styly pro sidebar */
      #sidebar {
        flex: 0 0 280px; /* Flexbox nastavení */
        height: 100vh;
        overflow-y: auto; /* Povolení scrollování */
        padding: 20px;
        box-sizing: border-box; /* Zajistí, aby padding neovlivnil šířku */
      }

      #sidebar div {
        margin-bottom: 12px; /* Zvětšení mezery mezi checkboxy */
      }

      #sidebar input[type="checkbox"] {
        width: 16px; /* Zvětšení šířky checkboxu */
        height: 16px; /* Zvětšení výšky checkboxu */
        cursor: pointer; /* Zlepšení uživatelského prožitku při najetí myší */
      }

      #sidebar label {
        vertical-align: middle; /* Zarovnání textu na střed výšky checkboxu */
        padding-bottom: 2px;
        cursor: pointer;
      }

      /* Styly pro hlavní obsah */
      #card-container {
        flex: 1; /* Zabere zbývající prostor */
        overflow-y: auto; /* Povolení scrollování */
        padding: 10px;
        padding-left: 5%;
      }

      .card {
        max-width: 720px; /* Upraveno pro šířku kontejneru */
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 8px;
        text-align: left;
        margin: 10px 0;
        cursor: pointer;
      }

      .card h1 {
        margin: 0;
        font-size: 24px;
        color: #333;
      }

      .card p {
        font-size: 16px;
        color: #666;
      }

      .card .label {
        display: inline-block;
        margin: 10px 5px;
        padding: 5px 10px;
        background-color: #eee;
        border-radius: 4px;
        font-size: 14px;
        color: #333;
      }

      #counter {
        padding: 10px;
        padding-left: 5%; /* Zarovnání s kartičkami */
        font-size: 16px;
        color: #666;
      }
