/* Připojení písma 'Inter' z Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  /* Barvy */
  --primary-color: #5c6ac4;
  --secondary-color: #006fbb;
  --accent-color: #f4b400;
  --background-color: #ffffff;
  --text-color-primary: #333333;
  --text-color-secondary: #ffffff;
  --text-color-muted: #656565;
  --border-color: #e6e6e6;

  /* Typografie */
  --font-family: "Inter", sans-serif;
  --font-size-normal: 16px;
  --font-size-large: 24px;
  --font-size-small: 14px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /* Odstupy */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;

  /* Ostatní */
  --border-radius: 4px;
  --box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  color: var(--text-color-primary);
  background-color: var(--background-color);
  margin: 0;
  padding: var(--space-3);
}

h1 {
  font-size: var(--font-size-large);
  color: var(--primary-color);
}

h2 {
  font-size: var(--font-size-normal);
  color: var(--secondary-color);
}

p,
a,
li,
button {
  /* Pro základní elementy */
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-primary);
  padding: 4px;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color-secondary);
  padding: var(--space-1) var(--space-2);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  box-shadow: var(--box-shadow);
}

button:hover {
  background-color: var(--secondary-color);
}

/* Přidání dalších specifických stylů podle potřeby... */
